# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.env
!.env.example

# Node
node_modules/
dist/
.cache/

# IDE
.vscode/
.idea/
.DS_Store

# Uploads
backend/uploads/

# Logs
*.log

# DB
*.sqlite3
*.db
